@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
*{
    font-family: 'Monda',sans-serif;

    margin: 0;
    padding: 0;
}

.app{
    width: 100vw;
    height: 100vh;
    background-color: #1E1E1E;
    margin: 0 auto;
}
.wrapper{
    margin: 0 auto;
    width: 30%;
    height: 50%;
    padding-bottom: 50px;
}
.list{
    background-color: #25273C;
    border-radius: 13px;
    margin-top: 40px;
}
